@font-face {
    font-family:"sunday";
    src:url("/fonts/Sunday-Regular.woff2") format("woff2");
    font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

.sunday { font-family: "sunday"}